.about {
  display: flex;
  align-content: center;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 25px;
  border-radius: 25px;
  &__text{
    text-align: center;
    padding: 10px;
    color: #fff;
  }
  &_size {
    margin: 50vh 0 0 50vw;
    width: 20rem;
    border: 2px #000 solid;
  }
  &_bg-color{
    background-color: #2f302f;
  }
}