.about {
  display: flex;
  align-content: center;
  transform: translate(-50%, -50%);
  margin: 50vh 0 0 50vw;
  height: 10rem;
  width: 20rem;
  background-color: aqua;
  text-align: center;
  font-size: 25px;
}