@import "src/scss/variables";

.carousel {
  margin: 50px 0;
  width: 100%;
  &__item {
    height: 250px;
    width: 166px;
    border: 1px solid $baseColor;
    &_mlr5 {
      margin: 0 6px;

    }
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    &__content {
      display: flex;
      justify-content: space-around;
      width: 75%;
      overflow: hidden;
    }
  }
  &__btn {
    display: inline-block;
    width: 0;
    height: 0;
    border: 50px solid;
    &_left{
      border-color:  transparent $baseColor transparent transparent ;
    }
    &_right{
      border-color:  transparent transparent  transparent $baseColor;
    }
  }
  &__title {
    &_center {
      text-align: center;
    }
  }
}
