@import "src/scss/variables";
@import "src/scss/mixins";

.carousel {
  margin: 50px 0;
  width: 100%;
  &__item {
    height: 100%;
    &__wraper {
      height: 250px;
      width: 166px;
      border: 1px solid $baseColor;
      &_mlr5 {
        margin: 0 6px;
      }
    }
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    &__content {
      display: inline-flex;
      justify-content: flex-start;
      flex-shrink: 0;
      width: 180px;
      overflow: hidden;
      //@include responseTo($SmallDevices) {
      //}
      @include responseTo($MediumDevices) {
        width: 540px;
      }
      @include responseTo($LargeDevices) {
        width: 720px;
      }
      @include responseTo($ExtraLargeDevices) {
        width: 900px;
      }
    }
  }
  &__btn {
    display: inline-block;
    width: 0;
    height: 0;
    border: 25px solid;
    &_left {
      border-color: transparent $baseColor transparent transparent;
      margin-left: auto;
    }
    &_right {
      border-color: transparent transparent transparent $baseColor;
      margin-right: auto;
    }
  }
  &__title {
    &_center {
      text-align: center;
    }
  }
}
