@use "scss/mixins";
@use "scss/variables";
@use "scss/normalize";
@use "components/About/about";
@use "components/Button/button";
@use "components/Input/input";
@use "components/Loader/loader";
@use "components/Card/card";
@use "components/NavBar/navbar";
@use "components/SearchDrawer/searchDrawer";
@use "components/Cards/cards";
@use "components/content/content";
@use "components/NavElementsDrawer/navElementsDrawer";
@use "components/AboutMovieDrawer/AboutMovieDrawer";
@use "hoc/scrollhandler";
@use "components/Carousel/carousel";
@use "scss/navLink";

html{
  font-size: 14px;
}

body {
  background: #fff;
}

ul {
  margin: 0;
}