@import "../scss/mixins";
@import "../scss/variables";

.navLink{
  padding: 5px;
  text-decoration: none;
  box-sizing: border-box;
  &_color{
    color: #fff;
  }
  &_size{
    margin: 5px;
    @include responseTo($SmallDevices){
      font-size: 1rem;
  };
    @include responseTo($MediumDevices){
      font-size: 1.5rem;
  };
    @include responseTo($LargeDevices){
      font-size: 2rem;
  };
    @include responseTo($ExtraLargeDevices){
      font-size: 2.5rem;
      margin: 20px;
  };
  }
  &_active {
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
    animation: bottom-line ease forwards alternate 300ms;
  }
}

@keyframes bottom-line {
  0% {
    border-color: rgba(255, 255, 255, 0);
  }
  25%{
    border-color: rgba(255, 255, 255, 0.25);
  }
  50%{
    border-color: rgba(255, 255, 255, 0.5);
  }
  75%{
    border-color: rgba(255, 255, 255, 0.75);
  }
  100% {
    border-color: rgba(255, 255, 255, 1);
  }
}