.about-movie-card {
  position: relative;
  box-sizing: border-box;
  //width: 500px;
  //height: 600px;
  background-color: white;
  padding: 10px;
  &_center {
    //left: 50%;
    top: 0px;
    //margin-left: -250px;
    //margin-top: -300px;
    //transform: translateY(50%);
  }
}
