@import "src/scss/variables";
@import "src/scss/mixins";

//TODO finish responsive design

.about-movie-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  @include responseTo($LargeDevices) {
    flex-wrap: nowrap;
  }
  &__text{
    font-weight: normal;
  }
  &__poster{
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 1);
    height: 100%;
    width: 80%;
    margin-bottom: 15px;
    @include responseTo($LargeDevices) {
      margin-bottom: 0;
      width: 40%;
    }
  }
  &__information{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    background-color: #edf4ff;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 1);
    font-size: 0.8rem;
    width: 80%;
    @include responseTo($SmallDevices) {
      font-size: 0.9rem;
    }
    @include responseTo($MediumDevices) {
      font-size: 1rem;
    }
    @include responseTo($LargeDevices) {
      width: 50%;
      font-size: 1.1rem;
    }
    @include responseTo($ExtraLargeDevices) {
      font-size: 1.2rem;
    }
    & :nth-child(n){
      margin: 0;
      padding: 10px;
    }
  }
  &__description{
    padding-right: 10px;
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    @include responseTo($SmallDevices) {
      font-size: 0.9rem;
    }
    @include responseTo($MediumDevices) {
      font-size: 1rem;
    }
    @include responseTo($LargeDevices) {
      font-size: 1.1rem;
    }
    @include responseTo($ExtraLargeDevices) {
      font-size: 1.2rem;
    }
  }
}
